.HeroSection{
    height: 700px;
    width: 100%;
    background-color: cadetblue;
    position: center;
    img{
        width: 100%;
        height: 700px;
    }
}
.heroshape{
    height: 350px;
    width: 700px;
    background-color:#60dfcd;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.herotextbox{
    height: 375px;
    width: 600px;
    background-color: black;
    position: absolute;
    padding: 10px;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffd504;
    h1 {
        font-size: 35px;
    }
    p {
        padding: 10px 30px;
    }
    button {
        color: #ffd504;
        background-color: black;
        border-color: #ffd504;
        padding: 13px;
    }
}